output "DP-3" {
    mode "2560x1440@59.951"
    scale 1
    transform "normal"
    position x=2560 y=0
}

output "HDMI-A-1" {
    mode "2560x1440@59.951"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "eDP-1" {
    mode "1920x1200@60.026"
    scale 1
    transform "normal"
    position x=2560 y=1440
}

output "DP-8" {
    mode "1920x1080@60.00"
    scale 1 
    transform "normal"
    position x=1920 y=0
}
